body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chatbox{
  position: fixed;
  bottom: 0%;
  width: 90%;
}

#sent{
  width: 51%;
  text-align: right;
  display: block;
}

#received{
  width: 51%;
  text-align: left;
  display: block;
}
