<!DOCTYPE html>
<html ng-app="blogger">
  <head>
    <title>Blog Delete</title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/css/fontawesome-all.css' />
  </head>
  <body>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blogList">List Blogs</a>
        <a class="nav-item nav-link active" href="/blogAdd">Add Blog</a>
        </div>
    </div>
  </nav>
<p></p>
      <label for="blogTitle">Blog Title</label>
      <input readonly type="text" class="form-control" id="blogTitle" name="blogTitle" value="<%=blog.blogTitle%>"><br>
      <label for="blogText">Blog Text</label>
      <textarea readonly rows="5" cols="40" name="blogText" class="form-control"><%=blog.blogText%></textarea><br>
     <a href="/blogList">
      <button class="btn btn-primary float-right ng-scope" value="Cancel">Cancel</button>
     </a>
   <form method="POST" action="/blogDelete/delete/<%=blog._id%>">
      <input type="submit" class="btn btn-danger float-right" value="Delete Blog">
   </form>


  </body>
</html>
