<!DOCTYPE html>
<html>
  <head>
    <title>Blog List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/fontawesome-all.css'/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/blogList">List Blogs</a>
        <a class="nav-item nav-link active" href="/blogAdd">Add Blog</a>
        </div>
    </div>
</nav>
      <p></p>
      <h1>Blog List</h1>
      <% for(let i = 0; i < posts.length; ++i){
        post = posts[i];%>
   <div class="card border-primary" style="width: 50%"> 
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class ="card-title"><%=post.blogTitle%></h5>
        <p class="card-text"><%=post.blogText%></p>
    </div>
    <div class="card-footer">
            <div class = "col-sm">
                <ul class="nav justify-content-end nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" href='/blogEdit/<%=post._id%>'> <i class="fas fa-edit"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogDelete/<%=post._id%>"> <i class="fas fa-trash-alt"></i></a>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
<p> <!-- card -->

      <% } %>

    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
